.App {
  max-width: 2000px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


.minicart::-webkit-scrollbar{
  width: 6px;
}
.minicart::-webkit-scrollbar-track{
  background-color: rgb(236, 233, 233);
}
.minicart::-webkit-scrollbar-thumb{
  background-color: rgb(230, 97, 168);
  /* background-color: rgb(89, 88, 88); */
}

.App{
  @media screen and (max-width:400px){
    scrollbar-width: 0px;
  }
}

.searchdiv{
  transition-duration: 1000ms;
}
.searchdiv:focus-within{
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(59, 63, 75, 0.27) 0px 0px 8px
}

.Card:hover{
  transition-duration: 700ms;
  box-shadow: rgba(59, 63, 75, 0.27) 0px 0px 10px
}

.cardOption{
  background-color: rgba(0, 0, 0, 0.338);
}

.cardIcons{
  height: 40px;width: 40px;
  border-radius: 100%;padding: 8px;
  background-color: #f0f0f081;
  color: whitesmoke;
}

.cardIcons:hover{
  background-color: #2a2a2a;
  color:rgb(234, 84, 151) ;
}

input[type=radio] {
  accent-color: rgb(231, 76, 174);
}
input[type=checkbox] {
  accent-color: rgb(231, 76, 174);
}

.banner{
  height: 80vh;

}

