.App {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: rgb(230, 75, 145)
} */

.minicart::-webkit-scrollbar{
  width: 6px;
}
.minicart::-webkit-scrollbar-track{
  background-color: rgb(236, 233, 233);
}
.minicart::-webkit-scrollbar-thumb{
  background-color: rgb(89, 88, 88);
}

.App{
  @media screen and (max-width:400px){
    scrollbar-width: 0px;
  }
}

.searchdiv{
  transition-duration: 1000ms;
}
.searchdiv:focus-within{
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(59, 63, 75, 0.27) 0px 0px 5px
}

.Card:hover{
  transition-duration: 700ms;
  box-shadow: rgba(59, 63, 75, 0.27) 0px 0px 10px
}

.cardOption{
  background-color: rgba(0, 0, 0, 0.234);
}

.cardIcons{
  height: 40px;width: 40px;
  border-radius: 100%;padding: 8px;
  background-color: #4f4f4f9e;
  color: whitesmoke;
}

.cardIcons:hover{
  background-color: #2a2a2a;
  color:rgb(234, 84, 151) ;
}
